  {{!-- <header>

  <div id="navbarBasicExample" class='navbar is-success' class="navbar-menu">
    <div class="navbar-start">
      <a href="/"class="navbar-item">
        Home
      </a>

      <a href="dashboard" class="navbar-item">
        Dashboard
      </a>

  <a href="/logout" class="navbar-item">
        Logout
      </a>
      </div>
    </div>

  </div>
</nav>
    </header> --}}