
<div class="block"></div>
        <div class="container">
  <div class="notification is-primary">
   <div class="columns">
  <div class="column">
    <p class="bd-notification">First column</p>
    <div class="columns is-mobile">
      <div class="column">
        <p class="bd-notification is-info">First nested column</p>
      </div>
      <div class="column">
  </div>
</div>
HTML
<div class="block"></div>